<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/qr" method="post">
      <input type="text" name="text" placeholder="text here">
      <br>
      <input type="text" name="margin" placeholder="margin here">
      <br>
      <input type="text" name="format" placeholder="format here">
      <br>
      <input type="text" name="captionFontSize" placeholder="captionFontSize here">
      <br>
      <input type="text" name="captionFontFamily" placeholder="captionFontFamily here">
      <br>
      <input type="text" name="caption" placeholder="caption here">
      <br>
      <input type="text" name="ecLevel" placeholder="ecLevel here">
      <br>
      <input type="text" name="dark" placeholder="dark here">
      <br>
      <input type="text" name="light" placeholder="light here">
      <br>
      <input type="text" name="size" placeholder="size here">
      <br>
      <input type="text" name="centerImageUrl" placeholder="centerImageUrl here">
      <br>
      <input type="text" name="centerImageSizeRatio" placeholder="centerImageSizeRatio here">
      <br>
      <input type="text" name="centerImageWidth" placeholder="centerImageWidth here">
      <br>
      <input type="text" name="centerImageHeight" placeholder="centerImageHeight here">
      <br>
      <input type="submit" value="make">
    </form>
  </body>
</html>
